<style>
      body {
        background-color: skyblue;
      }
      p {
        color: blueviolet;
        font-size:150%
      }
      h1 {
        background-color:  tomato;
        padding:30px;
        
      }
      h2 {
        color: green;
      }
     
    </style>